**/.pytest_cache

**/__pycache__

**/test_results.xml
**/coverage.xml
**/.coverage

**/.coverage.*

**/htmlcov

**/config.ini
env
.venv
.mypy_cache
.ruff_cache
.vscode
.dbx
.idea
.worktree
.databricks

**/.vscode/settings.json

**/csv_test_files
/dist/
/build/

/simpel_framework.egg-info/

/simpel/log.txt

derby.log
*.jar
*.java
*.class